*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}
.hide{display:none;}


.png{display:inline-block;background-image:url(../images/icon.png);background-repeat:no-repeat;vertical-align:middle;width:96px;height:96px;}
.menu_home{background-position:0 0;}
.menu_game{background-position:-120px 0;}
.menu_video{background-position:-240px 0;}
.menu_novel{background-position:-360px 0;}
.menu_music{background-position:-480px 0;}
.menu_download{background-position:0 -220px;width:281px;height:70px;}

.menu_home:hover, .menu .active .menu_home{background-position:0 -100px;}
.menu_game:hover, .menu .active .menu_game{background-position:-120px -100px;}
.menu_video:hover, .menu .active .menu_video{background-position:-240px -100px;}
.menu_novel:hover, .menu .active .menu_novel{background-position:-360px -100px;}
.menu_music:hover, .menu .active .menu_music{background-position:-480px -100px;}
.menu_download:hover{background-position:-300px -220px;}

.inner{width:1000px;margin:0 auto;}

.banner, .banner_music, .banner_game, .banner_video, .banner_novel{background:url(../images/1.jpg) no-repeat center;min-width:1000px;height:577px;position:relative;}
.banner_music{background:url(../images/2.jpg) no-repeat center;}
.banner_game{background:url(../images/3.jpg) no-repeat center;}
.banner_video{background:url(../images/4.jpg) no-repeat center;}
.banner_novel{background:url(../images/5.jpg) no-repeat center;}

.banner .mask{display:block;width:100%;position:absolute;left:0;bottom:0;height:120px;background:#000000;opacity:0.2;filter:alpha(opacity=20);z-index:1;}
.banner .inner{display:block;width:100%;position:absolute;left:0;bottom:10px;z-index:2;text-align:center;}
.banner .menu{padding:30px 10px 0 40px;height:96px;width:950px;margin:0 auto;overflow:hidden;zoom:1;}
.banner .menu li{float:left;display:inline-block;height:96px;margin-right:20px;vertical-align:middle;}
.banner .btns{width:281px;margin:13px 0 0 55px;}